@page
@model _5GuysLMS.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="row text-center">
    <div class="col-md-8 mx-auto">
        @if (Model.IsPasswordResetSuccessfully)
        {
            <h1 class="display-2 my-5 text-success">Your password has been reset!</h1>
            <a href="/Index" class="btn btn-warning">Return to home</a>
        }
        else
        {
            <h1 class="display-3 my-5">Reset Password</h1>
            <p>Enter your new password into the text boxes below and click submit to reset your password.</p>
            <form method="post">
                <div class="form-group d-flex">
                    <label class="col-form-label w-50">Password</label>
                    <input type="password" class="form-control" asp-for="PasswordInput" />
                </div>
                <div class="form-group d-flex">
                    <label class="col-form-label w-50">Confirm Password</label>
                    <input type="password" class="form-control" asp-for="ConfirmPasswordInput" />
                </div>
                <p class="text-danger">@Model.ErrorMessage</p>
                <input type="submit" class="btn btn-primary mt-3" value="Submit" />
            </form>
        }
    </div>
</div>
